<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
<system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
       
    </system.webServer>
</configuration>
