<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal"/>
  </configSections>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <!--<add name="connectionTimeout" value="360000" />-->
      <add name="connectionTimeout" value="720000"/>
      <add name="requestRetries" value="1"/>
      <add name="clientId" value="ARlFdgvfxq9WvmJxo6GymxYjFpYkl8zqyqaDsxV1fXZfMtxJ825kpvJLrqJE9B8jPotHadA7IInY4Mlo"/>
      <add name="clientSecret" value="EDZpFIEEeakEiCAGONK-jTCb2ukxq-r5Ff28SciV6ifsF9KxDbTSpEKLhvFNpHi_Ewe2Eaip9Gi-KmQ2"/>
    </settings>
  </paypal>
  <appSettings>
    <add key="MailUsername" value="webenquiry@itsgwalior.com"/>
    <add key="MailPassword" value="itsgwalior@1234$"/>
    <!--<add key="AdminMailID" value="info@itsgwalior.com" />-->
    <add key="AdminMailID" value="surendragoyal2547@gmail.com"/>
    <!--<add key="AdminMailID" value="its.gwl15@gmail.com" />-->
    <add key="MERCHANT_KEY" value="Chw3pVey"/>
    <add key="SALT" value="sPL7nhIVUu"/>
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment"/>
    <add key="action" value=""/>
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
    <add key="razKey" value="rzp_live_S7gCVCo4B587T0"/>
    <add key="razSecret" value="GueIBzBhzbqWRCkchnBTuzAF"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="395B61BC6B04D3E0C4F5548BD2ECA7B104A5446251E871089A40F6D9AFF420FA4131CC4F1331C6BAC6F11E613D671123A2C5F46E40B058748E04CD9232F1D72B" decryptionKey="D435740C4D9DB52883C5C3AD38A244E3CB24FEDA27EA54C9ACEF36947FA38EE9" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0"/>
    <httpHandlers>
      <remove path="ScriptResource.axd" verb="GET"/>
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
     <add name="dbConnectionString" connectionString="Data Source=DESKTOP-CJTO954\MSSQLSERVER01;Initial Catalog=itssdb;Integrated Security=True"/>
  <!-- <add name="dbConnectionString" connectionString="Data Source=103.200.72.38;Initial Catalog=itsdb;User ID=itsmy;Password=E3wh08f$"/>-->
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <httpCompression>
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="image/jpg*" enabled="true"/>
        <add mimeType="image/png*" enabled="true"/>
        <add mimeType="image/jpeg*" enabled="true"/>
        <add mimeType="image/webp*" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto"/>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
      <clientCache cacheControlMode="UseExpires" httpExpires="Tue, 19 Jan 2038 03:14:07 GMT"/>
    </staticContent>
  </system.webServer>
  <!-- <system.webServer>
    <rewrite>
      <rules>
        <clear/>
       <rule name="Force HTTPS" enabled="true">    
   <match url="(.*)" ignoreCase="false" />    
   <conditions>    
      <add input="{HTTPS}" pattern="off" />    
   </conditions>    
   <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />    
      </rule>

        <rule name="Redirect to clean URL" enabled="true" stopProcessing="true">
          <match url="(.*)\.aspx" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name="RewriteASPX" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:0}.aspx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>